html
    {
        font-size: 22px;
    }
body
    {
        background-color: #bac1d6;
        color: #454e6b;
    }
.content 
    {
        max-width: 500px;
        margin: auto;
    }
.center
    {   
    display: block;
    margin-left: auto;
    margin-right: auto;
    }